*~
hand_images/*
kalman/*
ScreenShots/*
*.o
*.user*
moc_*
HandControl
NeuralNet/NeuralNet*
NeuralNet/*.weights
NeuralNet/NeuralNet_*
CreateFFT/RestoreFFT
ui_*
NeuralNet/list_*.sh
NeuralNet/oldarch/*
NeuralNet/*.log
